@import (reference) 'variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: @sans;
  font-size: 1.6rem;
  margin: 0;
  min-width: 32rem;
  overflow-y: scroll;
  padding: 0;
}