@import (reference) 'variables';

.Options {
  border-style: dashed;

  &_label {

  }

  &_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media @large {
      flex-direction: row;
    }
  }

  &_option {

  }

  &_separator {

  }
}